<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//dao.impl.jdbc.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderDao">

    <insert id="createOrder" parameterType="entity.UserOrder" keyProperty="id" keyColumn="id" useGeneratedKeys="true">

        insert into userorder(order_no,user_id,shopping_id,payment,payment_type,postage,status,create_time)
					 values(#{order_no},#{user_id},#{shopping_id},#{payment},#{payment_type},#{postage},#{status},now())

    </insert>

    <resultMap id="orderitems_resultmap" type="entity.UserOrder" autoMapping="true">
        <result column="order_no" property="order_no"></result>
        <collection property="orderItemList" javaType="ArrayList" ofType="entity.UserOrderItem" column="order_no" autoMapping="true">
            <result column="order_no" property="order_no"></result>
            <result column="product_id" property="product_id"></result>
        </collection>
    </resultMap>

    <select id="findOrderByOrderno" parameterType="long" resultMap="orderitems_resultmap">
        select uo.order_no,uo.user_id,uo.shopping_id,uo.payment,uo.payment_type,uo.postage,uo.status,
        uoi.order_no,uoi.product_id,uoi.product_image,uoi.product_name,uoi.current_unit_price,uoi.quantity from userorder uo
        left join userorderitem uoi
        on uo.order_no = uoi.order_no
        where uo.order_no = #{args0}
    </select>
</mapper>