<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//dao.impl.jdbc.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Account">

    <select id="findByUsernameAndPassword" resultType="entity.Account" parameterType="map">
        select * from user where username=#{username} and password=#{password}
    </select>

</mapper>